# SPDX-FileCopyrightText: 2024-present Stuart Ellis <stuart@stuartellis.name>
#
# SPDX-License-Identifier: MIT
#
# Tasks for prek OR pre-commit:
#
# - https://prek.j178.dev/
# - https://pre-commit.com/

version: "3.38"

silent: true

vars:
  PRE_COMMIT_EXE: "prek"

tasks:
  default:
    cmds:
      - task: check

  check:
    desc: Check the project
    cmds:
      - "{{.PRE_COMMIT_EXE}} run --all-files"

  run:
    desc: Run a specific check on the project
    cmds:
      - "{{.PRE_COMMIT_EXE}} run {{.HOOK_ID}} --all-files"
    requires:
      vars: [HOOK_ID]

  setup:
    desc: Setup pre-commit hooks for use
    cmds:
      - "{{.PRE_COMMIT_EXE}} install"
